################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/src/OPNX.Common/.vs
/src/OPNX.Common/bin/x64/Debug/net10.0
/src/OPNX.Common/obj
/src/OPNX.Lib.Data/bin/x64/Debug/net10.0
/src/OPNX.Lib.Data/obj
/src/OPNX.Lib.Media/bin/x64/Debug/net10.0
/src/OPNX.Lib.Media/FFMpeg/Lib/x64/Backup
/src/OPNX.Lib.Media/obj
/src/OPNX.Lib.Streaming/.vs
/src/OPNX.Lib.Streaming/bin/x64/Debug/net10.0
/src/OPNX.Lib.Streaming/obj
/src/OPNX.UI.WPF/bin/x64/Debug/net10.0-windows7.0
/src/OPNX.UI.WPF/obj
/src/OPNX.Lib/bin
/src/OPNX.Lib/obj
/src/OPNX.Lib.Common/.vs
/src/OPNX.Lib.Common/bin
/src/OPNX.Lib.Common/obj
/src/OPNX.Lib.Data/bin
/src/OPNX.Lib.Media/bin
/src/OPNX.Lib.Network/bin
/src/OPNX.Lib.Network/obj
/src/OPNX.Lib.Streaming/bin
